<html>
    <head>
        <title>FSM {{name}}</title>
        <meta charset=utf-8 />
        <style type="text/css">
    body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.js"></script>
        <script src="/viz_fsm.js"></script>        
    </head>
    <body>
        <div id="cy"></div>
        
        <script type="text/javascript">
            /*
            var cy = init_cy_fsm();
            var f = viz_fsm_body(cy);
            f.run_layout();
            */
                        
            function viz_fsm_body(cy) {

                {{#each fsm}}
                    var fsm = newFsm(cy, '{{name}}', '');
                    var fsm_{{name}} = f;

                    {{#each regions}}
                        var region = fsm.add_region("Region {{region_name}}");
                        var {{../name}}_region_{{region_name}} = region;

                        // todo: add initial states                        
                        {{#each states}}
                            var state_{{state_name}} = region.add_state("{{state_name}}", {
                                is_initial_state: {{is_initial_state}},
                                is_interrupt_state: {{is_interrupt_state}}
                            });
                        {{/each}}

                        {{#each transitions}}
                            region.add_transition(
                                state_{{state_from}},
                                state_{{state_to}},
                                {
                                    event: "{{event}}",
                                    action: "{{action}}",
                                    guard: "{{guard}}",
                                    transition_type: "{{transition_type}}",
                                    is_anonymous: {{is_anonymous}},
                                    shallow_history: {{is_shallow_history}},
                                    resume_event: {{is_resume_event}}
                                }
                            );
                        {{/each}}
                    {{/each}}

                    return fsm;
                {{/each}}
            }
            
            var cy = init_cy_fsm();
            var f = viz_fsm_body(cy);
            f.run_layout();


            // Create WebSocket connection.
            const socket = new WebSocket('ws://' + location.hostname + ':9002');

            // Listen for messages
            socket.addEventListener('message', function (event) {
                console.log('Message from server ', event.data);
                var data = JSON.parse(event.data);
                if (data.event.StateTransitioned !== null) {
                    var st = data.event.StateTransitioned;
                    
                    var region = st.region_id;
                    var from = cy.getElementById("fsm_" + st.fsm + "_Region " + region + "_" + st.from);
                    var to = cy.getElementById("fsm_" + st.fsm + "_Region " + region + "_" + st.to);

                    from.removeClass("state_active");
                    to.addClass("state_active");
                }
            });
        </script>
    </body>
</html>